/****************************************************************
 * A panel is a white box as wide as the page is and serves as
 * default container for content.
 *
 * The <section>-Tag is by default a panel, if needed you can also
 * use the panel-class.
 *
 * Optionally, a panel can have a <h2>-headline and a <footer>.
 * The footer can contain a sequence of <a>-tags:
 *
 *     %section
 *       %h2 Headline
 *       ...
 *       %footer
 *         %a link1
 *         %a link2
 *
 ****************************************************************/


$util-bg: #f2f2f2;
$util-border-color: #e4e4e4;

@mixin panel($padding: $spacing) {
  @include grid-row();
  background: $bgcolor;
  padding: 0;
  margin-bottom: $spacing;
}

@mixin footer-link {
  color: $black;
  background: inherit;
  border: none;
  padding: 0 8px;
  margin-left: 5px;
  font-size: 14px;
  line-height: 31px;

  &:hover {
    background: $turquoise;
    color: black;
  }
}

section, .panel {
  @include panel;
  
  h2 {
    font-size: 2.625rem;
    margin-bottom: 1em;
  }

  footer {
    background: $util-bg;
    margin-left: 0;
    margin-bottom: 0;
    padding-right: $spacing;
    text-align: right;
    border-top: 1px solid $util-border-color;

    a { 
      @include footer-link; 
    }

   }
}
