<nav>
  <h2>
    <a href="/">Logo</a>
  </h2>

  <div data-responsive-toggle="main-menu" data-hide-for="large" class="menu-opener">
    <button type="button" data-toggle >
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </div>

  <div id="main-menu">
    <ul>
      <li><a href="/protokoll_index.html">Protokolle</a></li>
      <li><a href="/adressbuch_index.html">Adressbuch</a></li>
      <li><a href="/finanzen_index.html">Finanzen</a></li>
      <li><a href="/getraenke_index.html">Getränke</a></li>
      <li><a href="/profil_index.html">Profil</a></li>
      <li><a href="/meta.html">Meta</a></li>
      <li><a href="/login.html">Login</a></li>
    </ul>
  </div>
</nav>