@import 'foundation/util/util';
@import "foundation_settings";
@import "foundation/foundation";
@include foundation-everything;

@import "font-awesome/font-awesome";

@import "abstract/abstract";
@import "components/components";

@import "selectize";


// Set local icon font
@font-face {
  font-family: "entypo";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/entypo.eot);
  src: url('../fonts/entypo.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/entypo.woff') format('woff'),
       url('../fonts/entypo.ttf')  format('truetype');
}