// Colors, proudly stolen from Wolff09
$black: #000;
$white: #fff;
$default-color: #f2f2f2;

$color              : $black;
$bgcolor            : $white;
$bodybgcolor        : rgb(0,157,158);

$turquoise          : #3bbec0;
$blue               : #67b0d1;
$green              : #50dd8b; // #60cd9b
$red                : #e87352;
$yellow             : #ebc85e;
$brown              : #a48b60;
$grey               : #f1f1f1;

$turquoise-hover    : #60cacc;
$blue-hover         : lighten($blue, 10%);
$green-hover        : lighten($green, 10%);
$red-hover          : lighten($red, 10%);
$yellow-hover       : lighten($yellow, 10%);
$brown-hover        : lighten($brown, 10%);
$grey-hover         : lighten($grey, 10%);

$border-color       : darken($default-color, 10%);


@function hover-of($color) {
  @if $color == $turquoise { @return $turquoise-hover; }
  @else if $color == $blue { @return $blue-hover; }
  @else if $color == $green { @return $green-hover; }
  @else if $color == $red { @return $red-hover; }
  @else if $color == $yellow { @return $yellow-hover; }
  @else if $color == $brown { @return $brown-hover; }
  @else if $color == $grey { @return $grey-hover; }
  @else { @return $grey-hover; }
}


/* The place between elements and to the border of containers */
$spacing: 20px;

/* The height of a line */
$line-and-height: 36px;

