/*****************************************************************
 * The button container should be placed in a single section with n Buttons in it.
 * On a big screen, the buttons are aligned horizontally:
 *
 *     +-------------------------------+
 *     | |   Button1  | |   Button2  | |
 *     +-------------------------------+
 *
 * If the screen size shrinks down, the buttons stack vertically:
 *
 *     +----------------+
 *     | |   Button1  | |
 *     | +------------+ |
 *     | |   Button2  | |
 *     +----------------+
 *
 * The markup is plain and supports <a>- and <input>-tags.
 *
 *     %section
 *       .button-container
 *         %a link
 *         %input submit
 ****************************************************************/

.button-container {
  display: flex;
  background-color: white;

  &:not(:first-child) {
    margin-top: $spacing / 2;
  }

  a, input[type="submit"], input[type="button"], input[type="reset"], button {
    @include button;  

    // on big screens the spacing is on the right of the elements
    //   B1 | B2 | ... | Bb  
    @include breakpoint(medium) {
      &:not(:last-child) {
        margin-right: $spacing / 2;
      }
    }
    &.danger {
      @include button($warning-color);
    }
  }

  @include breakpoint(small down) {
    flex-direction: column;

    // on small screens the spacing is on the bottom of the elements
    a:not(:last-child) {
      margin-bottom: $spacing / 2;
    }
  }
}
