@mixin flash-panel {
  @include panel;
  &.with-utils { margin-bottom: 0; }
}

#flash {
  @include flash-panel;
  position: relative;

  .close-button {
    @include close-button;
  }

  background: $blue;

  h2 {
    color: $grey;
  }

  ul {
    li {
      list-style: none;
      border-left: 4px solid $yellow;
      padding-left: $spacing;
      background: $grey;
    }
  }
}