
@mixin slider-checkbox($color-yes: $black, $bg-yes: $green,
             $color-no: $black, $bg-no: $red) {
  label {
    
    position: relative;
    width: 100%;
    margin-left: 0;    

    input { display: none; }
    div {
      height: 100%;
      width: 50%;
      float: left;
      position: relative;
      z-index: 2;
      text-align: center;
      
    }
    a {
      position: absolute;
      //top: -1px;
      left: 0px;
      width: 50%;
      height: $line-and-height;
      display: block;
      z-index: 1;
      color: $color-no;
      background-color: $bg-no;
      // @include border-radius(0);
      // @include transition(all 0.3s ease-out);
    }
    input:checked ~ a {
      left: 50%;
      margin-left: 1px;
      color: $color-yes;
      background-color: $bg-yes;
      // @include transition(all 0.3s ease-out);
    }
  }
}



form {
  .form-row {
    @include grid-row;
    margin-bottom: $global-margin;

    label {
      @include breakpoint(small down) {
        @include grid-column(12);
      }
      @include breakpoint(medium) {
        @include grid-column(3);
      }
    }
    input, textarea {
      @include breakpoint(small down) {
        @include grid-column(12);
      }
      @include breakpoint(medium) {
        @include grid-column(9);
        margin-bottom: 0;
      }
    }
  }

  // unfold animation for textareas
  textarea {
    transition: height 1s;
    height: $line-and-height*1 !important;
    &:focus { height: $line-and-height*4 !important; }
  }

  .slider {
    //@extend .nested;
    @include grid-column(9);
    @include slider-checkbox;

    padding: 0 !important;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid $border-color;
    // label { @include line-and-height($line-and-height); }
  }
}
