/*****************************************************************
 * Item lists are basically lists of name-value pairs.
 *
 * The general markup is as follows:
 *
 *     %ul.item-list
 *       %li
 *         .name
 *         .value
 ****************************************************************/

$qr-width: 100px;
$qr-width-toggle: 300px;

@mixin qr-value {
  .qr {  
    max-width: $qr-width;
    embed { width: 100%; }
    .min { display: none }
    .max { display: block }
  }

  &.active {
    .qr { max-width: $qr-width-toggle; }
    .min { display: block !important }
    .max { display: none !important }
  }
}

ul.item-list {

  margin-top: 1em;

  li {
    @include flex-grid-row();
    line-height: $line-and-height;

    .name {
      @include flex-grid-column(3, 0);
    }

    .value {
      @include flex-grid-column(9);

      @include qr-value;
    }
  }
}
