/*
 * A panel is such a white box as wide as the page is. 
 */
@mixin panel($padding: $spacing) {
  @include grid-row();
  background: $bgcolor;
  padding: $padding;
  margin-bottom: $spacing;
}

section, .panel {
  @include panel;
  
  h2 {
    font-size: 2.625rem;
    margin-bottom: 1em;
  }
}
