/*****************************************************************
 * Tabulars are implemented using unordered lists since these
 * allow nicer options for small displays.
 *
 * The markup is:
 * 
 *     %ul.tabular 
 *       %li.tab-head
 *         [.cell-x Header]
 *       %li
 *         [.inline-headline Header
 *         .cell-x Content]
 *       %li ...
 *
 * The size of the single cells can be determined using classes
 * cell-1, cell-2, ... cell-12.
 *
 * The additional .inline-headline in every cell is used for small
 * screens. While on a big screen the overall look is tableish:
 *
 *     Content1 | Content2 | ...
 *
 * on a small screen it gets more like a definition list:
 *
 *     Head1    Content1
 *     Head2    Content2
 *     ...      ...
 *
 ****************************************************************/



@mixin abstract-cell {
  padding: 10px;
  color: black;
}

@mixin cell($w) {
  @include flex-grid-column($w);
  @include abstract-cell;
}
@mixin small_cell($w) {
  @include flex-grid-column(6);
  @include abstract-cell;
}
@mixin hl-cell {
  @include flex-grid-column(6);
  @include abstract-cell;
  font-weight: bold;
}

ul.tabular {
  @include contained($spacing / 2);
  list-style-type: none;

  a {
    &:hover * {
      background-color: $yellow;
    }
  }

  li {
    @include flex-grid-row;

    // Table header style
    &.tab-head {
      font-weight: bold;
      @include flex-grid-row;
    }

    // generate all column widths
    @for $w from 1 through 12 {
      @include breakpoint(large) {
        .cell-#{$w} { @include cell($w); }
      }
      @include breakpoint(medium down) {
        .cell-#{$w} { @include small_cell($w); }
      }
    }

    // for smaller displays we don't show the table header
    // but the inline headers and add spacing between the lines
    @include breakpoint(medium down) {
      &.tab-head {
        display: none !important;
      }
      .inline-headline {
        @include hl-cell;
      }

      border-bottom: 2px solid $grey !important;
    }
    // on bigger displays there is only the header
    @include breakpoint(large) {
      .inline-headline {
        display: none !important;
      }
    }

  }  
}

