<!DOCTYPE html>
<html class="no-js">

  {% include head.html %}

  <script type="text/javascript">
    document.documentElement.classList.remove("no-js");
  </script>

  <body>

    {% include header.html %}

    <div class="no-jscr">
      'A problem has been detected and Intranet has been shut down to prevent damage to your computer.
      <br />
      <br />
      The system encountered an uncorrectable client error.
      <br />
      <br />
      If this is the first time you have seen this Stop error screen, activate Javascript on your computer. If this screen appears again, follow these steps:
      <br />
      <br />
      Check to make sure any Chrome is properly installed. If this is a new installation, ask your Browser dealer for any updates you might need. If problems continue, disable or remove any newly installed Firefox.
      <br />
      <br />
      Disable l33thaXxor options like Javascript deactivation or same-origin cookie prevention. If you need to use privacy-mode to hide plugins or cookie-access, press Alt+F4 to get instant 100.000$.
      <br />
      <br />
      Technical Information:
      <br />
      *** STOP: 5984320987345987643298756430985712458769437penis347509873218476'
    </div>
    
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
